* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
}

.container {
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    margin-top: 20px;
    text-align: center;
}

.form-layout {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.form-section {
    flex: 1;
    padding: 15px;
    border: 1px solid #b8e1ff;
    border-radius: 4px;
    background-color: #fafdfe;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form select {
    margin: 10px 0 5px;
}

form input[type="text"],
form input[type="date"],
form textarea,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

form textarea{
    height: 95%;
}

.submit-button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
    display: block;
    margin: 20px auto;
}

.submit-button:hover {
    background-color: #218838;
}
